/* BLUE THEME */

/*.pagination {*/
/*    text-align: center;*/
/*    margin-top: 1em;*/
/*}*/

/*.pagination a {*/
/*    text-decoration: none;*/
/*}*/

/*.pagination-number {*/
/*    padding: 0.5em 0.8em;*/
/*    border-radius: 2px;*/
/*    color: #fff;*/
/*    background-color: #6D85C7;*/
/*}*/

/*.pagination-number:hover,*/
/*.pagination-current {*/
/*    background-color: #3354AA;*/
/*}*/

/*.pagination-action {*/
/*    margin: 0 0.1em;*/
/*    display: inline-block;*/
/*    padding: 0.5em 0.5em;*/
/*    color: #B9B9B9;*/
/*    font-size: 1.3em;*/
/*}*/

/*.pagination-action:hover,*/
/*.pagination-previous,*/
/*.pagination-next {*/
/*    color: #3354AA;*/
/*}*/

/* GREEN THEME */

.pagination {
    text-align: center;
    margin-top: 1em;
}

.pagination a {
    text-decoration: none;
}

.pagination-current,
.pagination-total {
    padding: 0.5em 0.8em;
    border-radius: 2px;
    color: #fff;
    background-color: #30BF61;
}

.pagination-total {
    background-color: #B9B9B9;
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em 0.5em;
    color: #B9B9B9;
    font-size: 1.3em;
}

.pagination-of {
    color: #B9B9B9;
    padding: 0 1em;
}

.pagination-action:hover {
    color: #3354AA;
}