<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="{% static 'css/pagination.css' %}">
    <title>Document</title>
</head>
<body>

<h1>Blog index</h1>

{% for item in items %}

    <p>{{ item.pk }} {{ item.title}}</p>

{% endfor %}

{% if items.paginator.num_pages > 1 %}

    {% include '_pagination.html' with items=items %}

{% endif %}

</body>
</html>

